* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation style */

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

.nav-title {
    font-size: 45px;
    font-weight: 800;

}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 20px;


}

.btn-primary {
    color: #FFF8F3;
    padding: 18px 35px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;

}

nav ul {
    display: flex;
    align-items: center;

}

/* banner Styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {

    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;

}

.banner-subtitle {

    font-size: 45px;
    font-weight: 800;

}

.bnr-discription {

    Weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 131px 157px 131px 156px;
}

.section-title {
    margin-bottom: 30px;
    font-Weight: 700px;
    font-size: 35px;
}

.section-discription {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.info-title {
    font-size: 20px;
    color: #474747;

}

.about-info {
   
}

.info-description {
    font-weight: 700;
    font-size: 20px;
}